html, body {
    height: 100%;
    position: relative; 	                 
    color: #000;
    padding: 1em 5%;
    margin: 0;
    background-image: url(/images/background.png);
    line-height: 1.5;
    font-family: 'Arial', sans-serif;
}

a { 
    color: #61676f;
    text-decoration: none;
}

a:hover {
    color: #51575f;
    border-bottom: 1px dashed #51575f;
}

.src {
    margin-left: 25%;
    padding: 10px;
    font-family: Monaco, monospace;
    font-size: 12px;
    line-height: 1.5em;
    border: 2px solid #c5c5c5;
    color: #232323;
    max-width: 50%;
    background-color: #ECECEC;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    width: 99%;
}

.shadow {
  -moz-box-shadow: 2px 2px 2px #ccc;
  -webkit-box-shadow: 2px 2px 2px #ccc;
  box-shadow: 2px 2px 2px #ccc;
}

/** Profiles */
#profiles {
    float: left;
    background-color: #EEEEEE;
    padding: 20px;
    border: 1px solid #e6e6e6;
    width: 35%;
}

#profiles h1 {
    font-family: 'Didact Gothic', sans-serif;
    margin-top: -5%;
}

#profiles ul {
    list-style-type: none;
}

/** Content field */
#content {
    border: 1px solid #e6e6e6;
    background-color: #EEEEEE;
    width: 36%;
    padding: 20px;
    /* height: 400px; */
    float: right;
    margin-right: 15%;
    font-family: 'Arial', sans-serif;    
}

#articles ol {
    list-style-type: armenian;
}

#container {
    min-height:100%; 
}

#footer {
    font-size: 1em;
    font-family: 'Miltonian', cursive;
    color: #999999;
    height:50px;
    /* margin-top:-100px; */
    position:relative;                      
}

.jtalkTool .CodeMirror {
    font-family: Helvetica, sans;
    font-size: 14px !important;
}

/** Amber */
#jtalk {
    height: 450px;
}

#class-browser {
    position: absolute;
    margin-top: -10px;
    margin-left: 31%;
}