div {
    padding: 10px;
}

a { 
    color: #2459ac; 
    /* border-bottom: 1px solid #2459ac;  */
    text-decoration: none;
}
a:hover {
    color: #e63220; 
    border-bottom: 1px solid #f3cac6; 
}
body { 
    font: 1em/1.4 Georgia,serif;
    background: #fff; 
    color: #000; 
    padding: 1em 5%;
    margin: 0;
}
.about {
    /* text-shadow: rgba(0, 0, 0, 0.0976562) 2px 2px; */
    /* width: 50%; */
    text-align: justify;
    /* -webkit-transform: rotate(2deg); */
}
.interests {
    /* width: 45%; */
    text-align: justify;
}
a.image {
    border-bottom: none; 
    padding-left: 20px; 
    background-repeat: no-repeat; 
    background-position: 0 0; 
}
a.image span {
    border-bottom: 1px solid #c9d9f3;
}
a.image:hover span {
    border-bottom: 1px solid #f3cac6;
}
.src {
    margin-left: 25%;
    padding: 10px;
    font-family: Monaco, monospace;
    font-size: 12px;
    line-height: 1.5em;
    border: 2px solid #c5c5c5;
    color: #232323;
    max-width: 50%;
    background-color: #ECECEC;
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    width: 99%;
}

#wrapper {
    width: 100%;
    margin: 0 auto;
}
#left-page {
    width: 50%;
    float:left;
}
#right-page {
    width: 40%;
    height: 500px;
    float:right;
    padding:25px;
    border-left: 1px;
    border-left-color: #000;
    border-left-style: solid;
}
#feeble-excuse {
    text-align: justify;
}
.vignette {
    text-align: center;
    font-size: 1.5em;
}

ul {
    list-style-type: circle;
}
ol {
    list-style-type: lower-greek;
}
.folding {
    color: #2459ac; 
    /* border-bottom: 1px solid #2459ac;  */
    text-decoration: none;
    cursor: pointer;
}